.navbar{
  max-width: 100%;
  padding: 30px 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-bottom: 2px solid #dedede;
}

.navbar h1{
  color: teal;
}

.links a{
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  color: #008080;
  padding: 10px 30px;
  margin-left: 10px;
  transition: 0.3s;
  border-radius: 4px;
}

.links a:hover{
  background-color: #dedede;
  color: #13978a;
}